<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GYM House</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TreeAppGym.App.Frontend.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <div class="gym_encabezado">
            <div class="gym_logo"></div>
            <div class="gym_menu">
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

	<div class="gym_footer">
		<div class="gym_textfooter">
			GYM House es una aplicación desarrollada por el grupo TreeTeam del grupo 49<br>
			para el curso de desarrollo de software de la Universidad de Caldas junto con el MINISTERIO de las TIC
		</div>
	</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>