@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="gym_espacio_mamon">
@if (SignInManager.IsSignedIn(User))

{
        <div class="gym_menu_ppal">

                <div class="gym_bienvenida">
                 <a class="gym_text_bienvenida" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bienvenido(a): @UserManager.GetUserName(User).</a>&nbsp;&nbsp;¡Ya queremos verte en forma!
                </div>

                <div class="gym_menu_ppal">
                 <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                 <a class="gym_vinculo" asp-area="" asp-page="/General/QuienesSomos">De que se trata</a><spam class="gym_bold">&nbsp;&nbsp;I&nbsp;&nbsp;</spam>
                 <a class="gym_vinculo" asp-area="" asp-page="/Rutinas/Asignar">Elegir rutina</a><spam class="gym_bold">&nbsp;&nbsp;I&nbsp;&nbsp;</spam>
                 <a class="gym_vinculo">Tu plan</a><spam class="gym_bold">&nbsp;&nbsp;I&nbsp;&nbsp;</spam>
                 <a class="gym_vinculo">Tus logros</a><spam class="gym_bold">&nbsp;&nbsp;I&nbsp;&nbsp;</spam>
                 <a class="gym_vinculo">Tu perfil</a><spam class="gym_bold">&nbsp;&nbsp;I</spam>
                 <button class="gym_boton_salir" id="logout" type="submit">Salir</button>
                 </form>
                </div>

        </div>
} 

else
{
        <div class="gym_menu_ppal1">
        <a class="gym_vinculo"  id="register" asp-area="Identity" asp-page="/Account/Register">Registrate</a>&nbsp;&nbsp;<spam class="gym_bold">I</spam>&nbsp;&nbsp;
        <a class="gym_vinculo"  id="login" asp-area="Identity" asp-page="/Account/Login">Logeate</a>&nbsp;&nbsp;<spam class="gym_bold">I</spam>&nbsp;&nbsp;
        <a class="gym_vinculo" asp-area="" asp-page="/General/QuienesSomos">De que se trata</a>
        </div>
}

</div>


