@page
@model TreeAppGym.App.Frontend.Pages.AsignarModel
@{
}
<div class="gym_contenido">
    <div>
    <span class="gym_titulo_logeo">ELEGIR RUTINA</span><p></p><span class="gym_textcentrado">Antes de comenzar, queremos saber mas de ti y así aconsejarte las mejores rutinas<br>
de acuerdo a tus objetivos. Por eso te invitamos a comlpetar los siguietes campos.<p><p></span><span class="gym_text_border">Recuerda siempre que debes estar asesorado por profesionales en el tema y nuestras rutinas se<br>
basan únicamente en la información suministrada por ti y los estándares que se usan habitualmente. </span>
    </div>
    <div>
        <table width="60%" border="0" cellspacing="10" cellpadding="0">
            <tbody>
                <tr>
                    <td>Tu peso (Kl)</td>
                    <td>Tu estatura (cm)</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td><input class="gym_campo_table" type="text" required="required" size="10px" maxlength="10"></td>
                    <td><input class="gym_campo_table" type="text" required="required" size="50px" maxlength="10"></td>
                    <td><input class="gym_boton" type="submit" value="Enviar"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>