@page
@model TreeAppGym.App.Frontend.Pages.QuienesSomosModel
@{
}


<div class="gym_contenido">
    <div class="gym_izq">
        <img src="../img/trata1.png" width="70%" height="70%" alt=""/><p></p>
        <img src="../img/trata2.png" width="70%" height="70%" alt=""/><p></p>
    </div>
    
    <div class="gym_derch">
        <span class="gym_titulo_logeo">DE QUE SE TRATA GYM HOUSE</span><P></P>
        <span class="gym_texto_corrido">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula non lectus sit amet laoreet. Integer ac nulla faucibus, auctor mauris et, luctus urna. Integer pharetra mi vitae lacinia consectetur. Praesent maximus massa et arcu scelerisque, vitae convallis est molestie. Nam feugiat metus a ex viverra maximus vitae a mi. Proin nec varius libero. Proin id lorem metus.

Ut justo eros, ultricies vel fermentum ac, varius ac nibh. Cras id risus ac velit commodo volutpat ut in mauris. <p></p>Nullam in sodales ante, ac faucibus lectus. Donec leo ex, elementum sed sagittis quis, gravida sit amet lorem. Mauris ante neque, efficitur vitae tortor euismod, pretium tincidunt sapien. Etiam tempor arcu ut tincidunt varius. Proin ac metus ornare libero convallis egestas in eget eros. Nunc eu felis ipsum. Mauris mollis, dui sit amet lobortis vulputate, diam augue dictum ligula, ac cursus lacus ligula ac mauris. Phasellus ultricies velit et nisi fringilla, sed pretium lectus mattis. Mauris eget lacinia dui, ac ultrices risus. Curabitur vestibulum diam fringilla libero rutrum accumsan. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
<p></p>
Aliquam rutrum pretium nulla eu bibendum. Quisque gravida urna in orci suscipit, a pellentesque orci mollis. Vestibulum felis nisl, molestie vel libero vitae, malesuada ornare turpis. <p></p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vitae erat id neque vestibulum eleifend. Cras volutpat, urna eu mattis malesuada, tortor justo eleifend lectus, vel cursus odio nisl vitae enim. Donec ornare eu purus vel laoreet. Vivamus porttitor suscipit eros, eget congue dolor lacinia eget. Sed fringilla odio fringilla, sagittis leo quis, aliquet mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam lectus mauris, ultricies eleifend nulla et, efficitur vulputate risus. Morbi suscipit vulputate dolor. Cras malesuada ornare nisl, eu imperdiet urna vulputate non. Duis non dui quam.</span>
    </div>
</div>