/* estilos Gym House */

body{
	margin: 0px;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif", "Gill Sans", "Gill Sans MT";
	font-size: 15px;
	background-color: gainsboro;
}

.gym_encabezado{
	background-color: #b4c0cc;
	padding-bottom: 10px;
	padding-top: 0px;
	width: 80%;
	height: 135px;
	margin: auto;
}

.gym_logo{
	background-image: url("../img/logo.png");
	width: 30%;
	height: 127px;
	background-repeat: no-repeat;
	float: left;
}

.gym_menu{
	width: 70%;
	height: 125px;
	float: right;
	text-align: right;
	background-color: transparent;
}

.gym_bienvenida{
	padding-top: 20px;
	padding-right: 20px;
	text-align: right;
	font-size: 20px;
	font-style: bold;
}

.gym_menu_ppal{
	text-align: right;
	padding-top: 15px;
	padding-right: 20px;
	text-align: right;
	font-size: 15px;
}

.gym_vinculo{
	text-decoration: none;
	color: #FFF;
}

a.gym_vinculo{
	text-decoration: none;
	color: #FFF;
}

a:hover.gym_vinculo{
	text-decoration: none;
	color: rgb(219, 215, 215);
	cursor: pointer;
}

a:active.gym_vinculo{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.gym_contenido{
	width: 80%;
	margin: auto;
	margin-top: 3px;
	background-color: #FFF;
	overflow-y: auto;
    overflow-x: hidden;
	height: 100%;
	clear: both;
}

.gym_contenido_registro{
	padding-top: 30px;
	background-image: url("../img/imagen_registro.png");
	background-position: left;
	background-repeat: no-repeat;
	margin: auto;
	height: 750px;
	overflow-y: auto;
	padding-bottom: 30px;
}

.gym_footer{
	background-color: #b4c0cc;
	padding-bottom: 10px;
	padding-top: 0px;
	width: 80%;
	margin: auto;
	margin-bottom: 5px;
	clear: both;
	margin-top: 3px;
}

.gym_textfooter{
	padding: 10px;
	margin: auto;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
}

.gym_formulario{
	padding-left: 30%;
	padding-top: 20px;
}


.gym_textoEncabezado{
	text-align: center;
	padding-bottom: 15px;
}

.gym_espacio_campos{
	width: 70%;
	margin: auto;
}


.gym_label_table{
	text-align: right;
	padding-right: 10px;
	width: 30%;
	height: 50px;
	color: #000;
}

.gym_campo_table{
	background-color: #ebebeb;
	border: 1px solid transparent;
	height: 30px;
	border-radius: 8px;
	color: #999;
}

.gym_bold{
	font-weight: bold;
	color: #7B3CBA;
}

.gym_zona_campo{
	height: 50px;
	text-align: left;
	color: #000;
}

.gym_boton{
	background-color: #b4c0cc;
	padding-left: 30px;
	padding-right: 30px;
	border: #b4c0cc;
	border: 1px solid;
}

.gym_contenido_logeo{
	padding-top: 80px;
	background-image: url("../img/img_logeo.png");
	background-position: left;
	background-repeat: no-repeat;
	margin: auto;
	height: 750px;
	overflow-y: auto;
	padding-bottom: 30px;
}

.gym_zona_logeo{
	background-color: #FFF;
	opacity: 70%;
	width: 50%;
	margin: auto;
	border-bottom: 2px #000;
}

.gym_titulo_logeo{
	font-size: 20px;
	color: #000;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 7px;
}

.gym_izq{
	float: left;
	width: 40%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.gym_derch{
	float: right;
	width: 60%;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 40px;
}

.gym_texto_corrido{
	text-align: justify;
}