/* estilos Gym House */

body{
	margin: 0px;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif", "Gill Sans", "Gill Sans MT";
	font-size: 15px;
	background-color: gainsboro;
}

.gym_encabezado{
	background-color: #b4c0cc;
	padding-bottom: 10px;
	padding-top: 0px;
	width: 80%;
	height: 120px;
	margin: auto;
}

.gym_logo{
	background-image: url("../img/logo.png");
	width: 30%;
	height: 100px;
	background-repeat: no-repeat;
	float: left;
}

.gym_menu{
	width: 70%;
	height: 125px;
	float: right;
	text-align: right;
	background-color: transparent;
}

.gym_bienvenida{
	padding-right: 2px;
	text-align: right;
	font-size: 20px;
	font-style: bold;
	padding-bottom: 10px;
}

.gym_text_bienvenida{
	text-decoration: none;
	color: #000;
	font-size: 23px;
}

.gym_menu_ppal{
	text-align: right;
	text-align: right;
	font-size: 16px;
}

.gym_vinculo{
	text-decoration: none;
	color: #FFF;
}

a.gym_vinculo{
	text-decoration: none;
	color: #FFF;
}

a:hover.gym_vinculo{
	text-decoration: none;
	color: rgb(219, 215, 215);
	cursor: pointer;
}

a:active.gym_vinculo{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.gym_contenido{
	width: 80%;
	margin: auto;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow-y: auto;
    overflow-x: hidden;
	height: 100%;
	clear: both;
	background-color: #FFF;
}

.gym_contenido_registro{
	padding-top: 30px;
	background-image: url("../img/imagen_registro.png");
	background-position: left;
	background-repeat: no-repeat;
	margin: auto;
	height: 800px;
	overflow-y: auto;
	padding-bottom: 30px;
}

.gym_footer{
	background-color: #b4c0cc;
	padding-bottom: 10px;
	padding-top: 0px;
	width: 80%;
	margin: auto;
	clear: both;
}

.gym_textfooter{
	padding: 10px;
	margin: auto;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
}

.gym_formulario{
	padding-left: 30%;
	padding-top: 20px;
}

.gym_textoEncabezado{
	text-align: center;
	padding-bottom: 15px;
}

.gym_espacio_campos{
	width: 70%;
	margin: auto;
}

.gym_label_table{
	text-align: right;
	padding-right: 10px;
	width: 30%;
	height: 50px;
	color: #000;
}

.gym_campo_table{
	background-color: #ebebeb;
	border: 1px solid #999;
	height: 30px;
	border-radius: 8px;
	color: #999;
}

.gym_zona_campo_select{
	background-color: #ebebeb;
	border: 1px solid #999;
	border-radius: 8px;
	color: #999;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 130px;
}

.gym_bold{
	font-weight: bold;
	color: #FFF;
}

.gym_zona_campo{
	height: 50px;
	text-align: left;
	color: #000;
}

.gym_boton{
	background-color: #b4c0cc;
	padding-left: 30px;
	padding-right: 30px;
	border: #b4c0cc;
	border: 1px solid;
	margin: 5px;
}

.gym_contenido_logeo{
	padding-top: 80px;
	background-image: url("../img/img_logeo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	height: 500px;
	overflow-y: auto;
	padding-bottom: 30px;
}

.gym_contenido_logeo_2{
	padding-top: 80px;
	background-image: url("../img/img_logeo_2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: auto;
	height: 500px;
	overflow-y: auto;
	padding-bottom: 30px;
}

.gym_zona_logeo{
	background-color: #FFF;
	opacity: 70%;
	width: 60%;
	margin: auto;
	border-bottom: 2px #000;
	border-radius: 10px;
	padding-top: 30px;
	padding-bottom: 20px;
}

.gym_titulo_logeo{
	font-size: 20px;
	color: #000;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 7px;
}

.gym_izq{
	float: left;
	width: 40%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.gym_derch{
	float: right;
	width: 60%;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-right: 100px;
	text-align: justify;
}

.gym_espacioBotones{
	width: 60%;
	height: 50px;
	text-align: center;
	clear: both;
	float: right;
	padding-bottom: 80px;
}

.gym_espacio_mamon{
	padding-right: 20px;
	padding-top: 20px;
	text-align: right;
}

.gym_quieres_salir{
	text-decoration: none;
	color: #000;
}

.gym_boton_salir{
	border: transparent;
	background-color: transparent;
	text-align: left	
}

.gym_menu_ppal1{
	text-align: right;
	text-align: right;
	font-size: 16px;
	padding-top: 50px;
}

.gym_vinculo_quienes{
	background-color: #b4c0cc;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: #b4c0cc;
	border: 1px solid;
	text-decoration: none;
	color: #000;
}

a.gym_vinculo_quienes{
	background-color: #b4c0cc;
	border: #b4c0cc;
	border: 1px solid;
	text-decoration: none;
}

a:hover.gym_vinculo_quienes{
	background-color: #b4c0cc;
	border: #b4c0cc;
	border: 1px solid;
	text-decoration: none;
}

.gym_olvido_contrasena{
	color: #0387f4;
	text-decoration: none;
	padding-left: 50px;
}

.gym_bton_logeo2{
	padding-left: 100px;
}

.gym_boton_registrate{
 color: #FFF;
}

a:hover.gym_boton_registrate{
	text-decoration: none;
	color: #000;
}

.gym_boton_inicio_2{
	width: 40%;
	float: left;
	height: 37px;
	background-color: #5e5f72;
	padding-top: 8px;
	color: #FFF;
	border: 1px;
	border-color: #000;
}

.gym_boton_inicio_1{
	width: 40%;
	float: left;
	height: 37px;
	background-color: #5e5f72;
	padding-top: 8px;
	color: #FFF;
	border: 1px;
	border-color: #000;
	margin-right: 5px;
}

.gym_boton_inicio_a{
	background-color: transparent;
	color: #FFF;
	border: 0px;
	border-color: transparent;
}

a:hover.gym_boton_inicio_a{
	background-color: transparent;
	color: #000;
}

.gym_bienvenido_centro{
	padding: 30px;
	text-align: justify;
}

.gym_rutina_principal{
	width: 80%;
	margin: auto;
	padding-top: 30px;
}

.gym_textcentrado{
	text-align: center;
	margin: auto;
}

.gym_text_border{
	border: 10px;
	border-color: rgb(137, 48, 48);
	padding: 7px;
	text-align: center;
	color: #b4c0cc;
	margin: auto;
	margin-top: 20px;
	font-size: 12;
	margin-bottom: 30px;
	background-color: #f5f7d2;
}

.gym_campos_peso{
	width: 380px;
	margin: auto;
	margin-bottom: 40px;
}

.gym_rutina_sugerida{
	width: 49%;
	float: left;
	background-color: #b4c0cc;
	height: 200px;
	margin-bottom: 20px;
	padding: 2px;
}

.gym_nutricio_sugerida{
	width: 49%;
	float: right;
	background-color: #b4c0cc;
	height: 200px;
	margin-bottom: 20px;
	padding: 2px;
}

.gym_rutina_titulo{
	background-color: #FFF;
	padding: 3px;
	color: #000;
	text-align: left;
	font-variant: small-caps;
	font-size: 20px;
}

.gym_rutina_contenido{
	width: 80%;
	margin: auto;
	padding-left: 20px;
	font-size: 15px;
}

.gym_centrar{
	margin: auto;
	padding: 10px;
	width: 20%;
}

.gym_carpeta_ejercicios{
	width: 100%;
	margin: auto;
	background-color: #dae0e6;
}

.gym_tabla_datos{
	padding: 20px;
	margin-top: 20px;
}

.gym_center{
	text-align: center;
	color: #FFF;
}

.gym_centradito{
	text-align: center;}