@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="gym_contenido">
    <div class="gym_contenido_logeo">
        <div class="gym_zona_logeo">
            <div class="gym_titulo_logeo">BIENVENIDO A GYM HOUSE</div>
        <div>
            <p>
        <div class="gym_zona_logeo">
            <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
	        <table width="50%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="gym_label_table">E_mail</td>
                    <td class="gym_zona_campo"><input asp-for="Input.Email" class="gym_campo_table" type="text" size="40px" maxlength="50"></td>
                </tr>
                <tr>
                    <td class="gym_label_table">Contraseña</td>
                    <td class="gym_zona_campo"><input asp-for="Input.Password" class="gym_campo_table" type="text" size="40px" maxlength="50"></td>
                </tr> 
                <tr>
                    <td colspan="2" style="text-align: center">
                        <a class="gym_olvido_contrasena" id="forgot-password" asp-page="./ForgotPassword">¿Olvido su contraseña?<p></p></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center" class="gym_bton_logeo2">
                        <div class="gym_boton_inicio_1"><input class="gym_boton_inicio_a" type="submit" value="Ingresar"></div>
                        <div class="gym_boton_inicio_2"><a class="gym_boton_registrate" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Regístrate</a></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center"><p></p></td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
