@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}
<div class="gym_contenido">
    
        <div class="gym_contenido_registro">

            <div class="gym_formulario">

                <div class="gym_textoEncabezado">Para registrarte en nuestra plataforma debes llenar el siguiente
                    formulario. <br>(Los campos con * son obligatorios)<p><p><p></div>

                <div>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="gym_espacio_campos">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="gym_label_table">Nombre*</td>
                                            <td class="gym_zona_campo">
                                                <input asp-for="cliente.Nombres" class="gym_campo_table" type="text" size="40px" maxlength="50">
                                                <span class="text-danger" asp-validation-for="cliente.Nombres"></span>
                                            </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Apellidos*</td>
                                        <td class="gym_zona_campo">
                                            <input  asp-for="cliente.Apellidos" class="gym_campo_table" type="text" size="40px" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Genero*</td>
                                        <td class="gym_zona_campo">
                                             <!-- <input  asp-for="cliente.Genero" class="gym_campo_table" type="text"> -->
                                        <select class="gym_zona_campo_select" asp-for="cliente.Genero" 
                                                asp-items="Html.GetEnumSelectList<Genero>()" >
                                        </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Edad*</td>
                                        <td class="gym_zona_campo">
                                            <input  asp-for="cliente.Edad" class="gym_campo_table" type="text" size="15px" maxlength="3">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Dirección</td>
                                        <td class="gym_zona_campo">
                                            <input  asp-for="cliente.Direccion" class="gym_campo_table" type="text" size="40px" maxlength="50">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Celular</td>
                                        <td class="gym_zona_campo">
                                            <input  asp-for="cliente.Telefono" class="gym_campo_table" type="text" size="20px" maxlength="20">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Email</td>
                                        <td class="gym_zona_campo">
                                            <input  asp-for="Input.Email" class="gym_campo_table" type="text" size="40px" maxlength="50">
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Contraseña</td>
                                        <td class="gym_zona_campo">
                                            <input  asp-for="Input.Password" class="gym_campo_table" type="text" size="20px" maxlength="20">
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table">Confirmar Contraseña</td>
                                        <td class="gym_zona_campo">
                                            <input  asp-for="Input.ConfirmPassword" class="gym_campo_table" type="text" size="20px" maxlength="20">
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table"></td>
                                        <td class="gym_zona_campo">
                                            <p></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="gym_label_table"></td>
                                        <td class="gym_zona_campo">
                                            <input type="submit" class="gym_boton" value="Enviar datos">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}